.navbar {
  background-color: #047bd5;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.shopping {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.search {
  cursor: pointer;
}

.cart {
  color: white;
  margin-left: 30px;
  margin-top: 4px;
  font-size: 20px;
  font-weight: bold;
}
.login {
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 30px;
  border: 2px solid white;
  background-color: none;
}
