.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 235, 235);
  width: 100%;
}
.background-sub {
  padding: 30px;
  width: 90%;
  box-sizing: border-box;
  /* background-color: white !important; */
}
.carousel {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0 solid rgb(223, 222, 222);
}
.slider {
  width: 100%;
  height: 500px;
  margin: auto;
}
.slider > img {
  width: 100%;
  height: 500px;
  margin: auto;
}

.part2 {
  margin-top: 5%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 3%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: white;
  border-radius: 5px;
  height: auto;
}

.list {
  margin-left: 20%;
  /* justify-items: center; */
}
